# Local .terraform directories
.terraform
.terraform.lock.hcl
.terragrunt-cache

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Plan files
*.json
*.out
*.plan

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Go modules
go.mod
go.sum

# Local test files
*.local.*
